################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AvinyaQuickCommAPI/FileContentIndex/0973fb4b-a5c4-4faf-86d0-2a50fd19f2f8.vsidx
/.vs
/SanghanaQuickComAPI/.vs/SanghanaQuickComAPI/FileContentIndex
